meta(charset="UTF-8")
title #{title}
link(rel="stylesheet", href="/lib/css/bootstrap.css")
link(rel="stylesheet", href="/css/animations.css")
link(rel="stylesheet", href="/css/app.css")
script(src="/lib/js/jquery.js")
script(src="/lib/js/bootstrap.js")
script(src="/bundle.js")

